/* 초기화 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
	background-color: #cccccc;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
    content: none;
}

/* 콘텐츠 스타일 */
.mainWrap {
	margin: auto auto;
	font-size: 1.7rem;
	width: 1600px;
	height: 1200px;
	background-image: url(img/monitorBG.png);
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: auto; /* 마진 버그 해결 */
}
#surveyWrap {
	margin: 8rem auto 0 auto;
	background-color: rgb(211, 140, 140);
	width: 900px;
	height: 500px;
	/* min-width: 800px; */
}
.questionInner {
	margin: 0 auto;
	padding: 3rem 0rem;
	width: 100%;
	/* max-width: 800px; */
	background-color: #ececec;
}
.progressbar {
	text-align: center;
	font-size: 3rem;
	margin: 0 auto;
}
.questionPart{
	text-align: center;
	font-size: 2rem;
}
.answerPart {
	font-size: 1.7rem;
	text-align: left;
	margin-left: 7rem;
	padding-top: 2rem;
}
.answerPart input {
	/* 추후 이미지로 구현하기 */
	display: none;
}
.answerList {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.7rem;
	align-items: center;
	margin: 1rem auto;
}
.answerList label:hover {
	cursor: pointer;
	background-color: #cfcfcf;
	transition-duration: 0.5s;
}
label {
	display: inline-block;
	background-repeat: no-repeat;
	background-size:23px auto;
	/* width:23px;height:10rem; */
}
.labelImg {
	background-image: url("img/deBtn48.png");
	background-size: 30px;
}
.labelImg a{
	margin-left: 2.5rem;
	font-size: 2rem;
}
input:checked + .labelImg{
	background-image: url("img/ckBtn48.png") 
}
.pageBtn {
	/* background-color: red; */
	margin: 0.5rem auto;
	text-align: center;
	font-size: 2rem;
}
.previousBtn, .nextBtn {
	
}
.submitBtn {
	width: 15%;
	margin: 0 auto;
	background-color: red;
}
.previousBtn:hover, .nextBtn:hover, .submitBtn:hover {
	cursor: pointer;
}
.nextBtn {
	margin-left: 3.5rem;
}
.testResult {
	margin: 6rem auto;
	/* padding: 2rem 0; */
	width: 60%;
	background-color: bisque;
}
.testResult div {
	margin: 2.5rem auto;
	text-align: center;
}
.diffGageBar {
	margin: 0 auto;
	width: 50%;
	height: 50px;
}
meter::-webkit-meter-bar {
	background: #f3f3f3;
	box-shadow: #e2e2e2 3px 3px;
	border-radius: 5px;
}
meter::-webkit-meter-optimum-value {
	background-color: #5b9ef5;
}