/* 초기화 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select:none;
    line-height: 1;
	background-color: #dfdfdf;
	font-family: 'Gamja Flower', 'Nanum Gothic', 'Jua', 'Do Hyeon', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
    content: none;
}

/* 컨텐츠 */
.mainWrap {
	min-width: 768px;
}
#surveyWrap {
	min-width: 768px;
	background-image: url(img/note700.png);
	background-repeat: no-repeat;
	background-size: 100% 80%;
	margin: 0 auto;
	width: 1000px;
	padding-top: 15rem;
	height: 1000px;
	padding: 15rem 0rem 0rem 0rem;
}
.questionInner {
	margin: 0 auto;
	width: 100%;
}
.progressbar {
	text-align: center;
	font-size: 2rem;
	margin: 0 auto;
}
.questionPart{
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}
.answerPart {
	margin-left: 8rem;
	padding-top: 0.5rem;
}
.answerPart input {
	display: none;
}
.answerList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0.1rem auto;
}
.answerList label:hover {
	cursor: pointer;
	background-color: #cfcfcf;
	transition-duration: 0.5s;
}
label {
	display: inline-block;
	background-repeat: no-repeat;
	background-size:23px auto;
	margin: 1.8rem 0;
}
.labelImg {
	background-image: url("img/deBtn48.png");
	background-size: 18px;
}
.labelImg a{
	margin-left: 2em;
	font-size: 2rem;
}
input:checked + .labelImg{
	background-image: url("img/ckBtn48.png") 
}
.pageBtn {
	margin: 0.5rem auto;
	text-align: center;
	font-size: 1rem;
}
.pageBtn a, .pageBtn h3 {
	border: 3px black solid;
	border-radius: 20px;
}
.pageBtn a {
	padding: 0.1rem 1rem;
}
.submitBtn {
	width: 11.5%;
	padding: 0.1rem 0;
	margin: 0.5rem auto 0 auto;
}
.previousBtn:hover, .nextBtn:hover, .submitBtn:hover {
	cursor: pointer;
}
.nextBtn {
	margin-left: 3.5rem;
}
.testResult {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	font-size: 1.7rem;
	background-image: url(img/note700.png);
	background-repeat: no-repeat;
	background-size: 105% 90%;
	width: 1000px;
	height: 980px;
	padding-top: 13rem;
}
.testResult h3 {
	font-weight: bold;
	font-size: 2.5rem;
}
.testResult div {
	text-align: center;
}
#mytest{
	font-weight: bold;
	margin-bottom: 1rem;
}
.mytestInner {
	margin-bottom: 2rem;
}
.diffPart {
	margin-top: 2rem;
}
/* .diffGageBar {
	margin: 0 auto;
	width: 25%;
	height: 50px;
} */
.intInner {
	
}
.intInner a{
	font-size: 2rem;
	font-weight: bold;
}
meter::-webkit-meter-bar {
	background: #f3f3f3;
	box-shadow: #e2e2e2 3px 3px;
	border-radius: 5px;
}
meter::-webkit-meter-optimum-value {
	background-color: #5b9ef5;
}

@media screen and (min-width: 768px) {
	.mainWrap {
		height: 980px;
	}
	#surveyWrap {
		background-size: 100% 80%;
		margin: 0 auto;
		width: 1000px;
		padding-top: 15rem;
		height: 1000px;
		padding: 15rem 0rem 0rem 0rem;
	}
	.questionInner {
		padding: 3rem 0rem 2rem 0rem;
	}
	.progressbar {
		font-size: 3rem;
	}
	.questionPart{
		font-size: 2rem;
	}
	.answerPart {
		/* text-align: left; */
		margin-left: 8rem;
		padding-top: 2rem;
	}
	.answerPart input {
		display: none;
	}
	.answerList {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0.7rem;
		align-items: center;
		margin: 1rem auto;
	}
	.answerList label:hover {
		cursor: pointer;
		background-color: #cfcfcf;
		transition-duration: 0.5s;
	}
	label {
		display: inline-block;
		background-repeat: no-repeat;
		background-size:23px auto;
		margin: 1.8rem 0;
	}
	.labelImg {
		background-image: url("img/deBtn48.png");
		background-size: 40px;
	}
	.labelImg a{
		margin-left: 4rem;
		font-size: 2.5rem;
	}
	input:checked + .labelImg{
		background-image: url("img/ckBtn48.png") 
	}
	.pageBtn {
		margin: 0.5rem auto;
		text-align: center;
		font-size: 2.5rem;
	}
	.pageBtn a, .pageBtn h3 {
		border: 3px black solid;
		border-radius: 20px;
	}
	.pageBtn a {
		padding: 0.1rem 2.8rem;
	}
	.submitBtn {
		width: 15%;
		padding: 0.1rem 0;
		margin: 1rem auto 0 auto;
	}
	.previousBtn:hover, .nextBtn:hover, .submitBtn:hover {
		cursor: pointer;
	}
	.nextBtn {
		margin-left: 3.5rem;
	}
	.testResult {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		font-size: 1.7rem;
		background-image: url(img/note700.png);
		background-repeat: no-repeat;
		background-size: 105% 90%;
		height: 980px;
		padding-top: 13rem;
	}
	.testResult h3 {
		font-weight: bold;
		font-size: 2.5rem;
	}
	.testResult div {
		text-align: center;
	}
	#mytest{
		font-weight: bold;
		margin-bottom: 1rem;
	}
	.mytestInner {
		margin-bottom: 2rem;
	}
	.diffPart {
		margin-top: 2rem;
	}
	/* .diffGageBar {
		margin: 0 auto;
		width: 25%;
		height: 50px;
	} */
	.intInner {
		
	}
	.intInner a{
		font-size: 2rem;
		font-weight: bold;
	}
	meter::-webkit-meter-bar {
		background: #f3f3f3;
		box-shadow: #e2e2e2 3px 3px;
		border-radius: 5px;
	}
	meter::-webkit-meter-optimum-value {
		background-color: #5b9ef5;
	}
}
@media screen and (min-width: 1024px) {
	#surveyWrap {
		background-size: 100% 80%;
		margin: 0 auto;
		width: 1000px;
		padding-top: 15rem;
	}
	.questionPart{
		font-size: 2rem;
	}
	.answerPart {
		margin-left: 10rem;
	}
	.labelImg a {
		font-size: 2.5rem;
	}
	.testResult {
		font-size: 1.7rem;
	}
}
@media screen and (min-width: 1280px) {
	#surveyWrap {
		background-size: 100% 70%;
		padding-top: 9rem;
		margin: 0 auto;
		width: 1000px;
	}
	label {
		margin: 1.8rem 2rem;
	}
	.labelImg {
		background-size: 30px;
	}
	.labelImg a{
		font-size: 2.5rem;
	}
	.testResult {
		/* font-size: 2rem; */
	}
}
@media screen and (min-width: 1920px) {
	.mainWrap {
		background-image: url(img/monitorBG.png);
		background-repeat: no-repeat;
		margin: auto auto;
		width: 1600px;
		background-size: 100%;
		overflow: auto;
	}
	#surveyWrap {
		margin: 5rem auto 0 auto;
		padding: 0;
		background-image: none;
	}
	.questionPart{
		text-align: center;
		font-size: 3rem;
		font-weight: bold;
	}
	.labelImg a{
		font-size: 2.8rem;
	}
	.testResult {
		/* font-size: 2.6rem; */
	}
}
